In [70]:
import sys
from pathlib import Path

# Project root (one level ABOVE src)
PROJ_ROOT = Path(r"C:\Users\quantbase\Desktop\SyStrat_factmod")

if str(PROJ_ROOT) not in sys.path:
    sys.path.insert(0, str(PROJ_ROOT))

print("Project root on sys.path:", PROJ_ROOT in map(Path, map(str, sys.path)))

from src.fm_config import DATA_INT
print("DATA_INT =", DATA_INT)

Project root on sys.path: True
DATA_INT = C:\Users\quantbase\Desktop\SyStrat_factmod\data_int

In [71]:
from datetime import date
from pathlib import Path

import pandas as pd
import matplotlib.pyplot as plt

from src.fm_config import DATA_INT
from src.fm_data_prices import load_us_prices, load_nse_prices
from src.fm_fundamentals import (
    load_us_income_ttm,
    load_us_balance_ttm,
    load_us_cashflow_ttm,
)
from src.fm_returns import build_returns_all, build_mkt_cap_all
from src.fm_panel_us import build_us_panel
from src.fm_factors import (
    build_us_tier1_factors,
    build_us_tier2_factors,
    build_us_tier3_factors,
    build_style_us_full,
)
from src.fm_factor_panel import build_us_factor_panel
from src.fm_factor_model_us import estimate_us_factor_model
from src.fm_decompose_us import (
    build_equal_weight_portfolio,
    decompose_portfolio_us,
    sanity_check_decomposition_us,
)

In [72]:
from src.fm_config import (
    US_UNIVERSE_DEFAULT, US_BACKTEST_START, US_BACKTEST_END, DATA_INT
)

from src.fm_factors import (
    build_us_tier1_factors, build_us_tier2_factors,
    build_us_tier3_factors, build_style_us_full
)
from src.fm_factor_panel import build_us_factor_panel

In [73]:
US_TICKERS = ["NVDA","AAPL","MSFT","AMZN","GOOGL","GOOG","AVGO","META","TSLA","BRK.B",
 "LLY","JPM","WMT","ORCL","V","XOM","JNJ","MA","NFLX","ABBV",
 "COST","PLTR","BAC","AMD","PG",
 "HD","GE","CSCO","KO","CVX",
 "UNH","IBM","WFC","CAT","MS","MU","PM","AXP","TMUS","MRK",
 "GS","RTX","ABT","CRM","MCD","TMO","PEP","ISRG","LIN","AMAT"]
    #["AAPL", "MSFT", "AMZN", "GOOGL","NVDA","META"]  # change here only
START = date(2020, 10, 31)
END   = date(2025, 10, 31)

US_TICKERS, START, END

(['NVDA',
  'AAPL',
  'MSFT',
  'AMZN',
  'GOOGL',
  'GOOG',
  'AVGO',
  'META',
  'TSLA',
  'BRK.B',
  'LLY',
  'JPM',
  'WMT',
  'ORCL',
  'V',
  'XOM',
  'JNJ',
  'MA',
  'NFLX',
  'ABBV',
  'COST',
  'PLTR',
  'BAC',
  'AMD',
  'PG',
  'HD',
  'GE',
  'CSCO',
  'KO',
  'CVX',
  'UNH',
  'IBM',
  'WFC',
  'CAT',
  'MS',
  'MU',
  'PM',
  'AXP',
  'TMUS',
  'MRK',
  'GS',
  'RTX',
  'ABT',
  'CRM',
  'MCD',
  'TMO',
  'PEP',
  'ISRG',
  'LIN',
  'AMAT'],
 datetime.date(2020, 10, 31),
 datetime.date(2025, 10, 31))

In [74]:
# Prices + fundamentals (US only)
# 1) Prices (SimFin)
df_us_px = load_us_prices(
    tickers=US_TICKERS,
    start=START,
    end=END,
    save=True,          # overwrites prices_us.parquet/csv
)
df_us_px.head()

Dataset "us-shareprices-daily" on disk (3 days old).
- Loading from disk ...

C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
[US] Saved 49,008 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_us.csv

,ticker,date,SimFinId,open,high,low,close,adj_close,volume,Dividend,shares_outstanding
0,AAPL,2020-11-02,111052,109.11,110.68,107.32,108.77,105.71,122866899,NaN,1.700180e+10
1,AAPL,2020-11-03,111052,109.66,111.49,108.73,110.44,107.33,107624448,NaN,1.700180e+10
2,AAPL,2020-11-04,111052,114.14,115.59,112.35,114.95,111.72,138235482,NaN,1.700180e+10
3,AAPL,2020-11-05,111052,117.95,119.62,116.87,119.03,115.68,126387074,NaN,1.700180e+10
4,AAPL,2020-11-06,111052,118.32,119.20,116.13,118.69,115.55,114457922,0.2,1.700180e+10

In [75]:
# 2) Fundamentals (income, balance, cashflow)
df_inc = load_us_income_ttm(tickers=US_TICKERS, save=True)
df_bal = load_us_balance_ttm(tickers=US_TICKERS, save=True)
df_cf  = load_us_cashflow_ttm(tickers=US_TICKERS, save=True)

Dataset "us-income-ttm" on disk (2 days old).
- Loading from disk ...

C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
[US][income_ttm] Saved 814 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_income_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_income_ttm.csv
Dataset "us-balance-ttm" on disk (2 days old).
- Loading from disk ...

C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
[US][balance_ttm] Saved 815 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_balance_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_balance_ttm.csv
Dataset "us-cashflow-ttm" on disk (2 days old).
- Loading from disk ...

C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!
[US][cashflow_ttm] Saved 814 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_cashflow_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_cashflow_ttm.csv

In [77]:
df_inc.tail()

,ticker,report_date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adj.",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common)
809,XOM,2023-09-30,121214,USD,2023,Q3,2023-10-31,2024-11-04,4.117313e+09,4.118349e+09,...,-3.451600e+10,-784000000.0,6.100000e+10,NaN,61000000000,-1.860300e+10,42397000000,NaN,41130000000,41130000000
810,XOM,2023-12-31,121214,USD,2023,Q4,2024-02-28,2024-11-04,4.052000e+09,4.053036e+09,...,-2.347500e+10,-849000000.0,5.278300e+10,NaN,52783000000,-1.542900e+10,37354000000,NaN,36010000000,36010000000
811,XOM,2024-03-31,121214,USD,2024,Q1,2024-04-29,2025-05-05,4.026000e+09,4.027036e+09,...,-2.317800e+10,-911000000.0,4.834900e+10,NaN,48349000000,-1.427200e+10,34077000000,NaN,32800000000,32800000000
812,XOM,2024-06-30,121214,USD,2024,Q2,2024-08-05,2025-08-04,4.089786e+09,4.089786e+09,...,-2.185400e+10,-933000000.0,5.035800e+10,NaN,50358000000,-1.486300e+10,35495000000,NaN,34160000000,34160000000
813,XOM,2024-09-30,121214,USD,2024,Q3,2024-11-04,2025-11-03,4.197508e+09,4.197508e+09,...,-2.087100e+10,-971000000.0,4.968500e+10,NaN,49685000000,-1.456500e+10,35120000000,NaN,33700000000,33700000000

In [78]:
df_bal.tail()

,ticker,report_date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
810,XOM,2023-09-30,121214,USD,2023,Q3,2023-10-31,2023-10-31,4.117313e+09,4.118349e+09,...,4.743000e+09,7.118600e+10,3.651000e+10,9.354000e+10,1.647260e+11,1.616500e+10,-2.535120e+11,4.501380e+11,2.075330e+11,372259000000
811,XOM,2023-12-31,121214,USD,2023,Q4,2024-02-28,2025-02-19,4.052000e+09,4.053036e+09,...,4.090000e+09,6.531600e+10,3.748300e+10,9.846300e+10,1.637790e+11,1.778100e+10,-2.549170e+11,4.539270e+11,2.125380e+11,376317000000
812,XOM,2024-03-31,121214,USD,2024,Q1,2024-04-29,2024-04-29,4.026000e+09,4.027036e+09,...,8.227000e+09,7.192100e+10,3.221300e+10,9.294500e+10,1.648660e+11,1.797100e+10,-2.578910e+11,4.583390e+11,2.130520e+11,377918000000
813,XOM,2024-06-30,121214,USD,2024,Q2,2024-08-05,2024-08-05,4.089786e+09,4.089786e+09,...,6.621000e+09,7.076300e+10,3.656500e+10,1.136780e+11,1.844410e+11,4.678100e+10,-2.284830e+11,4.632940e+11,2.762660e+11,460707000000
814,XOM,2024-09-30,121214,USD,2024,Q3,2024-11-04,2024-11-04,4.197508e+09,4.197508e+09,...,5.632000e+09,6.999300e+10,3.691800e+10,1.155230e+11,1.855160e+11,4.693600e+10,-2.340490e+11,4.676640e+11,2.764000e+11,461916000000

In [79]:
df_cf.tail()

,ticker,report_date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
809,XOM,2023-09-30,121214,USD,2023,Q3,2023-10-31,2024-08-05,4.117313e+09,4.118349e+09,...,59308000000,-2.147400e+10,4.391000e+09,0.0,-1.891500e+10,-1.486900e+10,-4.729000e+09,-1.776700e+10,-3.867900e+10,2509000000
810,XOM,2023-12-31,121214,USD,2023,Q4,2024-02-28,2024-11-04,4.052000e+09,4.053036e+09,...,55369000000,-2.191900e+10,4.078000e+09,0.0,-1.927400e+10,-1.494100e+10,-2.390000e+08,-1.774800e+10,-3.429700e+10,1903000000
811,XOM,2024-03-31,121214,USD,2024,Q1,2024-04-29,2025-05-05,4.026000e+09,4.027036e+09,...,53692000000,-2.158100e+10,3.927000e+09,0.0,-1.892600e+10,-1.501100e+10,-9.440000e+08,-1.641900e+10,-3.377200e+10,673000000
812,XOM,2024-06-30,121214,USD,2024,Q2,2024-08-05,2025-05-05,4.089786e+09,4.089786e+09,...,54869000000,-2.245700e+10,3.566000e+09,754000000.0,-1.942700e+10,-1.559500e+10,-3.727000e+09,-1.740500e+10,-3.816600e+10,-3069000000
813,XOM,2024-09-30,121214,USD,2024,Q3,2024-11-04,2025-08-04,4.197508e+09,4.197508e+09,...,56475000000,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6001000000

In [80]:
df_ret = build_returns_all(save=True)
df_ret.head()

[RETURNS] Saved 49,113 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\returns_all.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\returns_all.csv

        date ticker market       ret
0 2020-11-03   AAPL     US  0.015353
1 2020-11-04   AAPL     US  0.040837
2 2020-11-05   AAPL     US  0.035494
3 2020-11-06   AAPL     US -0.002856
4 2020-11-09   AAPL     US -0.019968

In [81]:
df_mkt = build_mkt_cap_all(save=True)
df_mkt.head()

[MKT_CAP] Saved 49,163 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\mkt_cap_all.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\mkt_cap_all.csv

C:\Users\quantbase\Desktop\SyStrat_factmod\src\fm_returns.py:150: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat(frames, ignore_index=True)

        date ticker market       mkt_cap
0 2020-11-02   AAPL     US  1.849286e+12
1 2020-11-03   AAPL     US  1.877679e+12
2 2020-11-04   AAPL     US  1.954357e+12
3 2020-11-05   AAPL     US  2.023724e+12
4 2020-11-06   AAPL     US  2.017944e+12

In [56]:
#----diagnostic----

In [57]:
import pandas as pd
from src.fm_config import DATA_INT

mkt = pd.read_parquet(DATA_INT / "mkt_cap_all.parquet")
print("mkt_cap_all tickers:", mkt["ticker"].unique())
print(
    mkt[mkt["market"] == "US"]
    .groupby("ticker")["mkt_cap"]
    .apply(lambda s: s.gt(0).mean())
)

mkt_cap_all tickers: ['AAPL' 'AMZN' 'META' 'MSFT' 'NVDA' 'RELIANCE' 'SBIN']
ticker
AAPL    1.0
AMZN    1.0
META    1.0
MSFT    1.0
NVDA    1.0
Name: mkt_cap, dtype: float64

In [58]:
#----End---

In [82]:
# US panel + style factors
panel_us = build_us_panel(
    tickers=US_TICKERS,
    start=START,
    end=END,
    save=True,
)
panel_us.head()

[US_PANEL] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\funds_panel_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\funds_panel_us.csv

,date,ticker,market,ret,mkt_cap,inc_report_date,inc_SimFinId,inc_Currency,inc_Fiscal Year,inc_Fiscal Period,...,cf_Change in Fixed Assets & Intangibles,cf_Net Change in Long Term Investment,cf_Net Cash from Acquisitions & Divestitures,cf_Net Cash from Investing Activities,cf_Dividends Paid,cf_Cash from (Repayment of) Debt,cf_Cash from (Repurchase of) Equity,cf_Net Cash from Financing Activities,cf_Net Change in Cash,inc_age_days
0,2020-11-03,AAPL,US,0.015353,1.877679e+12,2020-09-30,111052.0,USD,2020.0,Q4,...,-7.309000e+09,5.453000e+09,-1.524000e+09,-4.289000e+09,-1.408100e+10,2.499000e+09,-7.235800e+10,-8.682000e+10,-1.043500e+10,34.0
1,2020-11-04,AAPL,US,0.040837,1.954357e+12,2020-09-30,111052.0,USD,2020.0,Q4,...,-7.309000e+09,5.453000e+09,-1.524000e+09,-4.289000e+09,-1.408100e+10,2.499000e+09,-7.235800e+10,-8.682000e+10,-1.043500e+10,35.0
2,2020-11-05,AAPL,US,0.035494,2.023724e+12,2020-09-30,111052.0,USD,2020.0,Q4,...,-7.309000e+09,5.453000e+09,-1.524000e+09,-4.289000e+09,-1.408100e+10,2.499000e+09,-7.235800e+10,-8.682000e+10,-1.043500e+10,36.0
3,2020-11-06,AAPL,US,-0.002856,2.017944e+12,2020-09-30,111052.0,USD,2020.0,Q4,...,-7.309000e+09,5.453000e+09,-1.524000e+09,-4.289000e+09,-1.408100e+10,2.499000e+09,-7.235800e+10,-8.682000e+10,-1.043500e+10,37.0
4,2020-11-09,AAPL,US,-0.019968,1.977650e+12,2020-09-30,111052.0,USD,2020.0,Q4,...,-7.309000e+09,5.453000e+09,-1.524000e+09,-4.289000e+09,-1.408100e+10,2.499000e+09,-7.235800e+10,-8.682000e+10,-1.043500e+10,40.0

In [83]:
panel_us.tail()

,date,ticker,market,ret,mkt_cap,inc_report_date,inc_SimFinId,inc_Currency,inc_Fiscal Year,inc_Fiscal Period,...,cf_Change in Fixed Assets & Intangibles,cf_Net Change in Long Term Investment,cf_Net Cash from Acquisitions & Divestitures,cf_Net Cash from Investing Activities,cf_Dividends Paid,cf_Cash from (Repayment of) Debt,cf_Cash from (Repurchase of) Equity,cf_Net Cash from Financing Activities,cf_Net Change in Cash,inc_age_days
48955,2024-11-15,XOM,US,-0.010368,5.243787e+11,2024-09-30,121214.0,USD,2024.0,Q3,...,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6.001000e+09,46.0
48956,2024-11-18,XOM,US,0.008382,5.287738e+11,2024-09-30,121214.0,USD,2024.0,Q3,...,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6.001000e+09,49.0
48957,2024-11-19,XOM,US,-0.013964,5.213901e+11,2024-09-30,121214.0,USD,2024.0,Q3,...,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6.001000e+09,50.0
48958,2024-11-20,XOM,US,0.014246,5.288178e+11,2024-09-30,121214.0,USD,2024.0,Q3,...,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6.001000e+09,51.0
48959,2024-11-21,XOM,US,0.013381,5.358939e+11,2024-09-30,121214.0,USD,2024.0,Q3,...,-2.369700e+10,2.776000e+09,754000000.0,-2.138800e+10,-1.617200e+10,-5.084000e+09,-1.850500e+10,-4.121300e+10,-6.001000e+09,52.0

In [84]:
# Tiered styles
t1 = build_us_tier1_factors(save=True)
t2 = build_us_tier2_factors(save=True)
t3 = build_us_tier3_factors(save=True)
style_full = build_style_us_full(save=True)

style_full.tail()

[STYLE_US_T1] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier1.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier1.csv
[STYLE_US_T2] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier2.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier2.csv
[STYLE_US_T3] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier3.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier3.csv
[STYLE_US_FULL] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_full.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_full.csv

,date,ticker,market,SIZE,VAL,MOM,QUAL,ROE_z,GM_z,CashEY_z,LEV_raw,LEV_z,EMA20_GAP,VOL_Z,LIQ
48955,2024-11-15,XOM,US,0.351973,2.981858,-0.689703,0.597279,-0.417773,-1.062687,2.375030,0.401623,-0.816151,-0.093724,-0.456367,0.491498
48956,2024-11-18,XOM,US,0.357501,2.957847,-0.695034,0.582786,-0.417773,-1.062687,2.354239,0.401623,-0.816151,0.004029,-0.462297,0.432512
48957,2024-11-19,XOM,US,0.337181,2.989019,-0.741720,0.607253,-0.417773,-1.062687,2.391217,0.401623,-0.816151,-0.274193,-0.485213,0.341094
48958,2024-11-20,XOM,US,0.351328,2.965385,-0.712199,0.590732,-0.417773,-1.062687,2.368467,0.401623,-0.816151,-0.045949,-0.483705,0.370294
48959,2024-11-21,XOM,US,0.359192,2.958905,-0.687759,0.590567,-0.417773,-1.062687,2.368394,0.401623,-0.816151,0.048292,-0.492455,0.427053

In [85]:
factor_panel = build_us_factor_panel(save=True)

factor_panel.tail()

[FACTOR_PANEL_US] Saved 48,960 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_panel_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_panel_us.csv

,date,ticker,market,ret,mkt_cap,SIZE,VAL,MOM,QUAL,ROE_z,GM_z,CashEY_z,LEV_raw,LEV_z,EMA20_GAP,VOL_Z,LIQ
48955,2024-11-21,UNH,US,-0.005012,5.498607e+11,0.388591,-0.190104,-0.965951,-1.657380,-0.392150,-1.465691,-0.609711,0.651013,0.271262,-0.041688,-0.078218,-1.019331
48956,2024-11-21,V,US,0.008166,6.390493e+11,0.560349,-0.432355,-0.732878,-0.352234,0.225702,NaN,-0.571953,0.583964,-0.021091,0.266506,-0.532514,-0.376384
48957,2024-11-21,WFC,US,0.016988,2.491458e+11,-0.515954,NaN,0.496490,NaN,NaN,NaN,NaN,NaN,NaN,1.321984,0.838022,0.695784
48958,2024-11-21,WMT,US,0.013879,7.105010e+11,0.681456,0.077250,0.609728,-0.837241,-0.271600,-1.373447,0.401707,0.641362,0.229180,0.826325,-0.883185,0.636490
48959,2024-11-21,XOM,US,0.013381,5.358939e+11,0.359192,2.958905,-0.687759,0.590567,-0.417773,-1.062687,2.368394,0.401623,-0.816151,0.048292,-0.492455,0.427053

In [86]:
panel = pd.read_parquet(DATA_INT / "funds_panel_us.parquet")

print("funds_panel_us tickers:", panel["ticker"].unique())
print(panel.groupby("ticker")[["ret", "mkt_cap"]].count())

funds_panel_us tickers: ['AAPL' 'ABBV' 'ABT' 'AMAT' 'AMD' 'AMZN' 'AVGO' 'AXP' 'BAC' 'CAT' 'COST'
 'CRM' 'CSCO' 'CVX' 'GE' 'GOOG' 'GS' 'HD' 'IBM' 'ISRG' 'JNJ' 'JPM' 'KO'
 'LIN' 'LLY' 'MA' 'MCD' 'META' 'MRK' 'MS' 'MSFT' 'MU' 'NFLX' 'NVDA' 'ORCL'
 'PEP' 'PG' 'PLTR' 'PM' 'RTX' 'TMO' 'TMUS' 'TSLA' 'UNH' 'V' 'WFC' 'WMT'
 'XOM']
         ret  mkt_cap
ticker
AAPL    1020     1020
ABBV    1020     1020
ABT     1020     1020
AMAT    1020     1020
AMD     1020     1020
AMZN    1020     1020
AVGO    1020     1020
AXP     1020     1020
BAC     1020     1020
CAT     1020     1020
COST    1020     1020
CRM     1020     1020
CSCO    1020     1020
CVX     1020     1020
GE      1020     1020
GOOG    1020     1020
GS      1020     1020
HD      1020     1020
IBM     1020     1020
ISRG    1020     1020
JNJ     1020     1020
JPM     1020     1020
KO      1020     1020
LIN     1020     1020
LLY     1020     1020
MA      1020     1020
MCD     1020     1020
META    1020     1020
MRK     1020     1020
MS      1020     1020
MSFT    1020     1020
MU      1020     1020
NFLX    1020     1020
NVDA    1020     1020
ORCL    1020     1020
PEP     1020     1020
PG      1020     1020
PLTR    1020     1020
PM      1020     1020
RTX     1020     1020
TMO     1020     1020
TMUS    1020     1020
TSLA    1020     1020
UNH     1020     1020
V       1020     1020
WFC     1020     1020
WMT     1020     1020
XOM     1020     1020

In [87]:
# How often do we have an income statement as-of?
#print(panel.groupby("ticker")["inc_report_date"].notna().mean())
print(panel.groupby("ticker")["inc_report_date"].apply(lambda s: s.notna().mean()))

ticker
AAPL    1.0
ABBV    1.0
ABT     1.0
AMAT    1.0
AMD     1.0
AMZN    1.0
AVGO    1.0
AXP     0.0
BAC     0.0
CAT     1.0
COST    1.0
CRM     1.0
CSCO    1.0
CVX     1.0
GE      1.0
GOOG    1.0
GS      0.0
HD      1.0
IBM     1.0
ISRG    1.0
JNJ     1.0
JPM     0.0
KO      1.0
LIN     1.0
LLY     1.0
MA      1.0
MCD     1.0
META    1.0
MRK     1.0
MS      0.0
MSFT    1.0
MU      1.0
NFLX    1.0
NVDA    1.0
ORCL    1.0
PEP     1.0
PG      1.0
PLTR    1.0
PM      0.0
RTX     1.0
TMO     1.0
TMUS    1.0
TSLA    1.0
UNH     1.0
V       1.0
WFC     0.0
WMT     1.0
XOM     1.0
Name: inc_report_date, dtype: float64

In [88]:
out = estimate_us_factor_model(
    tickers=US_TICKERS,
    model_start=START,
    model_end=END,
    winsor_factor=0.1,
    save=True,
)

fac_ret_us  = out["factor_returns"]
eps_us      = out["residuals"]
cov_fac_us  = out["factor_cov"]

fac_ret_us.head(), eps_us.head(), cov_fac_us

[TORANIKO_INPUTS_US] Using 31,529 rows with complete style data and 7 style factors: ['SIZE', 'VAL', 'MOM', 'QUAL', 'EMA20_GAP', 'VOL_Z', 'LIQ']
[FACTOR_MODEL_US] Saved factor returns (769 rows) to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_returns_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_returns_us.csv
[FACTOR_MODEL_US] Saved residuals (769 rows) to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_residuals_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_residuals_us.csv
[FACTOR_MODEL_US] Saved factor covariance matrix to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_cov_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_cov_us.csv

(              market  sector_all  EMA20_GAP       LIQ       MOM      QUAL  \
 date
 2021-11-02  0.004031         0.0   0.004956  0.001394  0.001188  0.004257
 2021-11-03  0.007430         0.0   0.003788  0.000185 -0.004937 -0.002133
 2021-11-04  0.008390         0.0   0.006075  0.001545 -0.007080 -0.000148
 2021-11-05  0.001792         0.0   0.001548  0.002584 -0.001303 -0.001083
 2021-11-08  0.001212         0.0   0.005164 -0.002133 -0.005546 -0.000277

                 SIZE       VAL     VOL_Z
 date
 2021-11-02  0.000501 -0.002307 -0.006729
 2021-11-03  0.002700  0.000287  0.002906
 2021-11-04  0.001171 -0.001204  0.003309
 2021-11-05  0.000277  0.005134 -0.001106
 2021-11-08 -0.000367  0.003518  0.005161  ,
                 AAPL      ABBV       ABT      AMAT       AMD      AMZN  \
 date
 2021-11-02 -0.000330  0.002536 -0.018116  0.014427  0.014455 -0.003411
 2021-11-03 -0.005781  0.001459 -0.001416  0.009655  0.003709  0.004167
 2021-11-04 -0.017628 -0.016977 -0.008235  0.020783 -0.003502  0.004669
 2021-11-05 -0.004089 -0.001728 -0.024565  0.020244 -0.012352  0.006156
 2021-11-08 -0.000018 -0.015931  0.016841 -0.008168  0.001921 -0.007572

                 AVGO       CAT      COST       CRM  ...        PG      PLTR  \
 date                                                ...
 2021-11-02  0.004783  0.012844  0.008062 -0.005035  ... -0.000762 -0.003389
 2021-11-03  0.004062 -0.014033 -0.001839 -0.011513  ... -0.002068  0.008897
 2021-11-04  0.001538 -0.006227  0.013207  0.000544  ... -0.007403  0.010304
 2021-11-05  0.014224  0.008640 -0.005214 -0.000142  ...  0.000145 -0.005565
 2021-11-08 -0.001041  0.010814 -0.016808  0.002288  ... -0.006435  0.020603

                  RTX       TMO      TMUS      TSLA       UNH         V  \
 date
 2021-11-02 -0.003632 -0.001852 -0.000219 -0.015712 -0.004546 -0.003436
 2021-11-03  0.008241 -0.002713  0.013636 -0.002685 -0.001868 -0.011507
 2021-11-04 -0.000390 -0.016079 -0.005959 -0.010664 -0.013441 -0.002561
 2021-11-05  0.017374 -0.021940 -0.006162 -0.005631 -0.005504  0.022936
 2021-11-08 -0.002650  0.005133 -0.025695 -0.015641  0.007719  0.016659

                  WMT       XOM
 date
 2021-11-02 -0.008836 -0.014986
 2021-11-03 -0.009463 -0.005717
 2021-11-04 -0.005785  0.008029
 2021-11-05 -0.014392  0.004741
 2021-11-08 -0.004973  0.013705

 [5 rows x 41 columns],
               market  sector_all  EMA20_GAP       LIQ       MOM      QUAL  \
 market      0.031754         0.0  -0.000885 -0.003037  0.001777  0.000058
 sector_all  0.000000         0.0   0.000000  0.000000  0.000000  0.000000
 EMA20_GAP  -0.000885         0.0   0.004668  0.000031 -0.000221 -0.000132
 LIQ        -0.003037         0.0   0.000031  0.002058 -0.000093 -0.000193
 MOM         0.001777         0.0  -0.000221 -0.000093  0.002648 -0.000087
 QUAL        0.000058         0.0  -0.000132 -0.000193 -0.000087  0.000965
 SIZE        0.014579         0.0  -0.000433 -0.002209  0.000481  0.000052
 VAL        -0.000557         0.0   0.000125 -0.000112  0.000100 -0.000534
 VOL_Z       0.012400         0.0  -0.000683 -0.001557  0.000503 -0.000067

                 SIZE       VAL     VOL_Z
 market      0.014579 -0.000557  0.012400
 sector_all  0.000000  0.000000  0.000000
 EMA20_GAP  -0.000433  0.000125 -0.000683
 LIQ        -0.002209 -0.000112 -0.001557
 MOM         0.000481  0.000100  0.000503
 QUAL        0.000052 -0.000534 -0.000067
 SIZE        0.007841 -0.000082  0.006198
 VAL        -0.000082  0.001841 -0.000117
 VOL_Z       0.006198 -0.000117  0.009204  )

In [89]:
#---------Decomp

In [90]:
# Equal-weight over the tickers we actually got residuals for
tickers_model = list(eps_us.columns)
dates_model   = fac_ret_us.index

In [91]:
weights_eq = build_equal_weight_portfolio(
    tickers=tickers_model,
    dates=dates_model,
)

factor_contrib, resid_contrib, total_model = decompose_portfolio_us(
    weights=weights_eq,
    factor_panel=factor_panel,
    factor_returns=fac_ret_us,
    residuals=eps_us,
)

true_ret, model_ret, diff, rmse, max_abs_diff = sanity_check_decomposition_us(
    weights=weights_eq,
    factor_panel=factor_panel,
    total_from_model=total_model,
)

In [92]:
rmse, max_abs_diff, pd.concat(
    [true_ret, model_ret, diff.rename("diff")], axis=1
).head()

(0.0014236578066900705,
 0.00828486386478378,
             portfolio_return_true  total_from_model      diff
 date
 2021-11-02               0.003650          0.003837 -0.000187
 2021-11-03               0.007585          0.006681  0.000904
 2021-11-04               0.010575          0.007705  0.002870
 2021-11-05               0.000275          0.001768 -0.001493
 2021-11-08               0.004338          0.002623  0.001715)

In [74]:
# Diagnostic

In [75]:
# Quick diagnostic in a scratch cell or notebook
import pandas as pd
from pathlib import Path

DATA_INT = Path(r"C:\Users\quantbase\Desktop\SyStrat_factmod\data_int")

mkt = pd.read_parquet(DATA_INT / "mkt_cap_all.parquet")
print("mkt_cap_all tickers:", mkt["ticker"].unique())
print(mkt.groupby("ticker")["mkt_cap"].apply(lambda s: s.notna().mean()))

mkt_cap_all tickers: ['AAPL' 'MSFT' 'RELIANCE' 'SBIN']
ticker
AAPL        1.0
MSFT        1.0
RELIANCE    0.0
SBIN        0.0
Name: mkt_cap, dtype: float64

In [76]:
import pandas as pd
from pathlib import Path

DATA_INT = Path(r"C:\Users\quantbase\Desktop\SyStrat_factmod\data_int")
px = pd.read_parquet(DATA_INT / "prices_us.parquet")
print(px["ticker"].unique())
print(px["ticker"].value_counts())

['AAPL' 'AMZN' 'META' 'MSFT' 'NVDA']
ticker
AAPL    1232
AMZN    1232
META    1232
MSFT    1232
NVDA    1232
Name: count, dtype: int64

In [78]:
import pandas as pd
from src.fm_config import DATA_INT

# 1) What’s in returns_all?
ret = pd.read_parquet(DATA_INT / "returns_all.parquet")
print("returns_all US tickers:", ret[ret["market"] == "US"]["ticker"].unique())

returns_all US tickers: ['AAPL' 'AMZN' 'META' 'MSFT' 'NVDA']

In [81]:
# 2) What’s in mkt_cap_all right now?
mkt = pd.read_parquet(DATA_INT / "mkt_cap_all.parquet")
print("mkt_cap_all tickers:", mkt["ticker"].unique())
print(
    mkt[mkt["market"] == "US"]
    .groupby("ticker")["mkt_cap"]
    .apply(lambda s: s.gt(0).mean())
)

mkt_cap_all tickers: ['AAPL' 'MSFT' 'RELIANCE' 'SBIN']
ticker
AAPL    1.0
MSFT    1.0
Name: mkt_cap, dtype: float64

In [13]:
import subprocess, sys
from pathlib import Path

PROJ_ROOT = Path(r"C:\Users\quantbase\Desktop\SyStrat_factmod")

def run_cli_module(mod_name: str):
    """
    Run `python -m <mod_name>` with the project root as cwd
    and print stdout/stderr.
    """
    print(f"\n=== Running: python -m {mod_name} ===")
    result = subprocess.run(
        [sys.executable, "-m", mod_name],
        cwd=PROJ_ROOT,
        text=True,
        capture_output=True,
    )
    print(result.stdout)
    if result.stderr:
        print("STDERR:\n", result.stderr)

In [14]:
run_cli_module("src.fm_data_prices")
run_cli_module("src.fm_fundamentals")
run_cli_module("src.fm_returns")
run_cli_module("src.fm_panel_us")
run_cli_module("src.fm_factors")
run_cli_module("src.fm_factor_panel")
run_cli_module("src.fm_factor_model_us")
run_cli_module("src.fm_decompose_us")

=== Running: python -m src.fm_data_prices ===
=== US (SimFin) demo ===
Dataset "us-shareprices-daily" on disk (1 days old).
- Loading from disk ... Done!
[US] Saved 140 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_us.csv
  ticker       date  SimFinId  ...     volume  Dividend  shares_outstanding
0   AAPL 2019-12-19    111052  ...   98507788       NaN        1.777306e+10
1   AAPL 2019-12-20    111052  ...  276130972       NaN        1.777306e+10
2   AAPL 2019-12-23    111052  ...   98711532       NaN        1.777306e+10
3   AAPL 2019-12-24    111052  ...   48478856       NaN        1.777306e+10
4   AAPL 2019-12-26    111052  ...   93336016       NaN        1.777306e+10

[5 rows x 11 columns]

=== NSE (jugaad-data) demo ===
[NSE] Fetching SBIN from 2020-01-01 to 2020-03-31 (series=EQ)
[NSE] Fetching RELIANCE from 2020-01-01 to 2020-03-31 (series=EQ)
[NSE] Saved 155 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_nse.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\prices_nse.csv
     symbol       date    open  ...    volume         value  trades
0  RELIANCE 2020-01-01  1518.0  ...   6402372  9.701063e+09  122265
1  RELIANCE 2020-01-02  1512.0  ...   8096561  1.239471e+10  151727
2  RELIANCE 2020-01-03  1533.0  ...   9593498  1.470428e+10  149003
3  RELIANCE 2020-01-06  1520.0  ...  11209343  1.695494e+10  225138
4  RELIANCE 2020-01-07  1519.0  ...   7627191  1.161710e+10  180713

[5 rows x 10 columns]

STDERR:
 C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,


=== Running: python -m src.fm_fundamentals ===
=== US fundamentals (SimFin) demo ===
Dataset "us-income-ttm" on disk (1 days old).
- Loading from disk ... Done!
[US][income_ttm] Saved 40 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_income_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_income_ttm.csv
[US] Income TTM head:
  ticker report_date  ...   Net Income Net Income (Common)
0   AAPL  2019-12-31  ...  57527000000         57527000000
1   AAPL  2020-03-31  ...  57215000000         57215000000
2   AAPL  2020-06-30  ...  58424000000         58424000000
3   AAPL  2020-09-30  ...  57411000000         57411000000
4   AAPL  2020-12-31  ...  63930000000         63930000000

[5 rows x 28 columns]

Dataset "us-balance-ttm" on disk (1 days old).
- Loading from disk ... Done!
[US][balance_ttm] Saved 40 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_balance_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_balance_ttm.csv
[US] Balance TTM head:
  ticker report_date  ...  Total Equity Total Liabilities & Equity
0   AAPL  2019-12-31  ...  8.953100e+10               340618000000
1   AAPL  2020-03-31  ...  7.842500e+10               320400000000
2   AAPL  2020-06-30  ...  7.228200e+10               317344000000
3   AAPL  2020-09-30  ...  6.533900e+10               323888000000
4   AAPL  2020-12-31  ...  6.622400e+10               354054000000

[5 rows x 30 columns]

Dataset "us-cashflow-ttm" on disk (1 days old).
- Loading from disk ... Done!
[US][cashflow_ttm] Saved 40 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_cashflow_ttm.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\us_cashflow_ttm.csv
[US] Cashflow TTM head:
  ticker report_date  ...  Net Cash from Financing Activities Net Change in Cash
0   AAPL  2019-12-31  ...                       -1.027070e+11        -3106000000
1   AAPL  2020-03-31  ...                       -9.419000e+10         3232000000
2   AAPL  2020-06-30  ...                       -8.650200e+10       -17112000000
3   AAPL  2020-09-30  ...                       -8.682000e+10       -10435000000
4   AAPL  2020-12-31  ...                       -9.366200e+10        -3946000000

[5 rows x 28 columns]

[NSE] No fundamentals CSV found at data_raw/fundamentals_nse.csv; skipping NSE fundamentals demo.

STDERR:
 C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,
C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,
C:\Users\quantbase\.conda\envs\factmod-311\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,


=== Running: python -m src.fm_returns ===
=== Building returns_all ===
[RETURNS] Saved 291 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\returns_all.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\returns_all.csv
=== Building mkt_cap_all ===
[MKT_CAP] Saved 295 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\mkt_cap_all.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\mkt_cap_all.csv

[RETURNS] Sample slice:
         date ticker market       ret
7  2020-01-02   AAPL     US  0.022885
8  2020-01-03   AAPL     US -0.009722
9  2020-01-06   AAPL     US  0.007934
10 2020-01-07   AAPL     US -0.004670
11 2020-01-08   AAPL     US  0.016086

[MKT_CAP] Sample slice:
         date ticker market       mkt_cap
8  2020-01-02   AAPL     US  1.317066e+12
9  2020-01-03   AAPL     US  1.304262e+12
10 2020-01-06   AAPL     US  1.314611e+12
11 2020-01-07   AAPL     US  1.308472e+12
12 2020-01-08   AAPL     US  1.329520e+12

STDERR:
 C:\Users\quantbase\Desktop\SyStrat_factmod\src\fm_returns.py:150: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_all = pd.concat(frames, ignore_index=True)


=== Running: python -m src.fm_panel_us ===
[US_PANEL] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\funds_panel_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\funds_panel_us.csv

[US_PANEL] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market  ...  bal_report_date  cf_report_date inc_age_days
0 2020-01-02   AAPL     US  ...       2019-12-31      2019-12-31            2
1 2020-01-03   AAPL     US  ...       2019-12-31      2019-12-31            3
2 2020-01-06   AAPL     US  ...       2019-12-31      2019-12-31            6
3 2020-01-07   AAPL     US  ...       2019-12-31      2019-12-31            7
4 2020-01-08   AAPL     US  ...       2019-12-31      2019-12-31            8

[5 rows x 9 columns]


=== Running: python -m src.fm_factors ===
[STYLE_US_T1] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier1.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier1.csv

[STYLE_US_T1] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market      SIZE       VAL  MOM
0 2020-01-02   AAPL     US  0.707107  0.707107  NaN
1 2020-01-03   AAPL     US  0.707107  0.707107  NaN
2 2020-01-06   AAPL     US  0.707107  0.707107  NaN
3 2020-01-07   AAPL     US  0.707107  0.707107  NaN
4 2020-01-08   AAPL     US  0.707107  0.707107  NaN
[STYLE_US_T2] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier2.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier2.csv

[STYLE_US_T2] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market      QUAL  ...      GM_z  CashEY_z   LEV_raw     LEV_z
0 2020-01-02   AAPL     US  0.707107  ... -0.707107  0.707107  0.737151  0.707107
1 2020-01-03   AAPL     US  0.707107  ... -0.707107  0.707107  0.737151  0.707107
2 2020-01-06   AAPL     US  0.707107  ... -0.707107  0.707107  0.737151  0.707107
3 2020-01-07   AAPL     US  0.707107  ... -0.707107  0.707107  0.737151  0.707107
4 2020-01-08   AAPL     US  0.707107  ... -0.707107  0.707107  0.737151  0.707107

[5 rows x 9 columns]
[STYLE_US_T3] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier3.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_tier3.csv

[STYLE_US_T3] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market  EMA20_GAP  VOL_Z       LIQ
0 2020-01-02   AAPL     US        NaN    NaN  0.707107
1 2020-01-03   AAPL     US   0.707107    NaN  0.707107
2 2020-01-06   AAPL     US   0.707107    NaN  0.707107
3 2020-01-07   AAPL     US   0.707107    NaN  0.707107
4 2020-01-08   AAPL     US   0.707107    NaN  0.707107
[STYLE_US_FULL] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_full.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\style_us_full.csv

[STYLE_US_FULL] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market      SIZE  ...     LEV_z  EMA20_GAP  VOL_Z       LIQ
0 2020-01-02   AAPL     US  0.707107  ...  0.707107        NaN    NaN  0.707107
1 2020-01-03   AAPL     US  0.707107  ...  0.707107   0.707107    NaN  0.707107
2 2020-01-06   AAPL     US  0.707107  ...  0.707107   0.707107    NaN  0.707107
3 2020-01-07   AAPL     US  0.707107  ...  0.707107   0.707107    NaN  0.707107
4 2020-01-08   AAPL     US  0.707107  ...  0.707107   0.707107    NaN  0.707107

[5 rows x 15 columns]


=== Running: python -m src.fm_factor_panel ===
[FACTOR_PANEL_US] Saved 124 rows to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_panel_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_panel_us.csv

[FACTOR_PANEL_US] Sample slice (AAPL/MSFT, 2020-Q1):
        date ticker market       ret  ...      QUAL  EMA20_GAP  VOL_Z       LIQ
0 2020-01-02   AAPL     US  0.022885  ...  0.707107        NaN    NaN  0.707107
1 2020-01-02   MSFT     US  0.018516  ... -0.707107        NaN    NaN -0.707107
2 2020-01-03   AAPL     US -0.009722  ...  0.707107   0.707107    NaN  0.707107
3 2020-01-03   MSFT     US -0.012452  ... -0.707107  -0.707107    NaN -0.707107
4 2020-01-06   AAPL     US  0.007934  ...  0.707107   0.707107    NaN  0.707107

[5 rows x 12 columns]


=== Running: python -m src.fm_factor_model_us ===
[TORANIKO_INPUTS_US] Using 86 rows with complete style data and 7 style factors: ['SIZE', 'VAL', 'MOM', 'QUAL', 'EMA20_GAP', 'VOL_Z', 'LIQ']
[FACTOR_MODEL_US] Saved factor returns (43 rows) to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_returns_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_returns_us.csv
[FACTOR_MODEL_US] Saved residuals (43 rows) to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_residuals_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_residuals_us.csv
[FACTOR_MODEL_US] Saved factor covariance matrix to C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_cov_us.parquet and C:\Users\quantbase\Desktop\SyStrat_factmod\data_int\factor_cov_us.csv

[FACTOR_MODEL_US] Factor returns (head):
              market  sector_all  EMA20_GAP  ...      SIZE       VAL     VOL_Z
date                                         ...
2020-01-30  0.013202         0.0   0.002338  ... -0.002338 -0.002338 -0.002338
2020-01-31 -0.029681         0.0   0.002457  ... -0.002457 -0.002457 -0.002457
2020-02-03  0.010783         0.0   0.002179  ... -0.002179 -0.002179 -0.002179
2020-02-04  0.032915         0.0  -0.000030  ...  0.000030  0.000030  0.000030
2020-02-05  0.003492         0.0  -0.000763  ...  0.000763  0.000763  0.000763

[5 rows x 9 columns]

[FACTOR_MODEL_US] Residuals (head):
                    AAPL      MSFT
date
2020-01-30 -3.016218e-05  0.000476
2020-01-31  4.649300e-04 -0.000199
2020-02-03  2.092288e-08  0.000098
2020-02-04 -1.492563e-04  0.000149
2020-02-05 -4.958409e-05 -0.000002

[FACTOR_MODEL_US] Factor covariance (annualised):
              market  sector_all  EMA20_GAP  ...      SIZE       VAL     VOL_Z
market      0.628394         0.0   0.002195  ... -0.000887 -0.003247  0.006696
sector_all  0.000000         0.0   0.000000  ...  0.000000  0.000000  0.000000
EMA20_GAP   0.002195         0.0   0.000484  ...  0.000185 -0.000414  0.000015
LIQ        -0.003247         0.0  -0.000414  ... -0.000101  0.000524  0.000030
MOM        -0.002878         0.0   0.000029  ...  0.000196 -0.000056 -0.000105
QUAL       -0.003247         0.0  -0.000414  ... -0.000101  0.000524  0.000030
SIZE       -0.000887         0.0   0.000185  ...  0.000549 -0.000101  0.000252
VAL        -0.003247         0.0  -0.000414  ... -0.000101  0.000524  0.000030
VOL_Z       0.006696         0.0   0.000015  ...  0.000252  0.000030  0.000553

[9 rows x 9 columns]


=== Running: python -m src.fm_decompose_us ===

[DECOMPOSE_US] Factor contributions (head):
              market  sector_all     EMA20_GAP  ...          SIZE  VAL         VOL_Z
date                                            ...
2020-01-30  0.013202         0.0  0.000000e+00  ...  7.787147e-17 -0.0 -1.427644e-18
2020-01-31 -0.029681         0.0  0.000000e+00  ... -1.373679e-16 -0.0 -0.000000e+00
2020-02-03  0.010783         0.0  0.000000e+00  ...  3.017394e-16 -0.0 -0.000000e+00
2020-02-04  0.032915         0.0 -0.000000e+00  ...  0.000000e+00  0.0 -8.318734e-21
2020-02-05  0.003492         0.0 -4.232750e-20  ... -6.971339e-17  0.0  0.000000e+00

[5 rows x 9 columns]

[DECOMPOSE_US] Idiosyncratic contributions (head):
date
2020-01-30    2.229667e-04
2020-01-31    1.329358e-04
2020-02-03    4.914833e-05
2020-02-04    4.124589e-09
2020-02-05   -2.576700e-05
Name: idiosyncratic, dtype: float64

[DECOMPOSE_US] Total portfolio return from model (head):
date
2020-01-30    0.013425
2020-01-31   -0.029548
2020-02-03    0.010832
2020-02-04    0.032915
2020-02-05    0.003467
Name: total_from_model, dtype: float64
[DECOMPOSE_US] Saved decomposition artifacts

[DECOMPOSE_US] Sanity check vs realised portfolio returns:
  Common dates: 43
  Max abs diff: 3.469e-18
  RMSE diff   : 1.016e-18

[DECOMPOSE_US] True vs model (head):
            portfolio_return_true  total_from_model          diff
date
2020-01-30               0.013425          0.013425  0.000000e+00
2020-01-31              -0.029548         -0.029548  3.469447e-18
2020-02-03               0.010832          0.010832  0.000000e+00
2020-02-04               0.032915          0.032915  0.000000e+00
2020-02-05               0.003467          0.003467  0.000000e+00

In [26]:
panel_us = pd.read_parquet(DATA_INT / "funds_panel_us.parquet")

panel_us[panel_us["inc_report_date"].notna()].head()

,date,ticker,market,ret,mkt_cap,inc_report_date,inc_SimFinId,inc_Currency,inc_Fiscal Year,inc_Fiscal Period,...,cf_Change in Fixed Assets & Intangibles,cf_Net Change in Long Term Investment,cf_Net Cash from Acquisitions & Divestitures,cf_Net Cash from Investing Activities,cf_Dividends Paid,cf_Cash from (Repayment of) Debt,cf_Cash from (Repurchase of) Equity,cf_Net Cash from Financing Activities,cf_Net Change in Cash,inc_age_days
6,2019-12-31,AAPL,US,0.007272,1.287599e+12,2019-12-31,111052.0,USD,2020.0,Q1,...,-9.247000e+09,3.827500e+10,-1.415000e+09,2.638400e+10,-1.409000e+10,-7.594000e+09,-7.802400e+10,-1.027070e+11,-3.106000e+09,0.0
7,2020-01-02,AAPL,US,0.022885,1.317066e+12,2019-12-31,111052.0,USD,2020.0,Q1,...,-9.247000e+09,3.827500e+10,-1.415000e+09,2.638400e+10,-1.409000e+10,-7.594000e+09,-7.802400e+10,-1.027070e+11,-3.106000e+09,2.0
8,2020-01-03,AAPL,US,-0.009722,1.304262e+12,2019-12-31,111052.0,USD,2020.0,Q1,...,-9.247000e+09,3.827500e+10,-1.415000e+09,2.638400e+10,-1.409000e+10,-7.594000e+09,-7.802400e+10,-1.027070e+11,-3.106000e+09,3.0
9,2020-01-06,AAPL,US,0.007934,1.314611e+12,2019-12-31,111052.0,USD,2020.0,Q1,...,-9.247000e+09,3.827500e+10,-1.415000e+09,2.638400e+10,-1.409000e+10,-7.594000e+09,-7.802400e+10,-1.027070e+11,-3.106000e+09,6.0
10,2020-01-07,AAPL,US,-0.004670,1.308472e+12,2019-12-31,111052.0,USD,2020.0,Q1,...,-9.247000e+09,3.827500e+10,-1.415000e+09,2.638400e+10,-1.409000e+10,-7.594000e+09,-7.802400e+10,-1.027070e+11,-3.106000e+09,7.0